<div id="map" #map></div>

<ul class="list-group">
  <li
    *ngFor="let colorMarker of markers; index as i"
    class="list-group-item"
    [ngStyle]="{ 'background-color': colorMarker.color }"
    (dblclick)="deleteMarker(i)"
    (click)="flyTo(colorMarker)"
    (contextmenu)="deleteMarker(i)"
  >
    Marker {{ i + 1 }}
  </li>
</ul>

<span class="btn btn-primary"
  >Right click on: <strong>Map</strong>=sets new marker,
  <strong>marker-list</strong>=delete marker</span
>

<button (click)="createMarker()" class="btn btn-primary">
  + Agregar marcador
</button>
